[Unit]
Description=Treasure audio service

[Service]
Type=simple
ExecStart=/var/www/html/treasure-radio/python/audio.sh
Restart=on-failure
RestartSec=10
User=okome
Group=okome
KillMode=control-group

[Install]
WantedBy=multi-user.target